In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import tensorflow as tf
import matplotlib.pyplot as plt


from keras.models import Sequential
from keras.layers import Dense

start_date = '2010-01-01'
end_date = '2020-01-01'
ticker = 'INVE-B.ST'
df = yf.download(ticker, start_date, end_date)
df.index = df.index.date
df.index.name = "Date"

df.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2010-01-04  33.375000  33.875000  33.375000  33.825001  23.078619  6739900
2010-01-05  33.875000  34.099998  33.775002  34.000000  23.198019  2981928
2010-01-07  33.724998  34.224998  33.674999  33.900002  23.129789  6745776
2010-01-08  34.049999  34.099998  33.750000  33.950001  23.163904  5780292
2010-01-11  34.125000  34.250000  33.900002  33.950001  23.163904  5140340